{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'website:home' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> My Account
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8 col-md-12 m-auto">
                        <div class="row">
                            <div class="heading_s1">
                                <img class="border-radius-15" src="{% static 'imgs/page/reset_password.svg' %}" alt="" />
                                <h2 class="mb-15 mt-15">Set new password</h2>
                                <p class="mb-30">Please create a new password that you don’t use on any other site.</p>
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        {% if token_valid %}
                                        <form method="post" id="reset-password-form">
                                            <input type="hidden" id="reset-password-token" value="{{ token }}" />
                                            <div class="form-group">
                                                <input type="password" required="" id="reset-password-new" placeholder="New password *" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" required="" id="reset-password-confirm" placeholder="Confirm your password *" />
                                            </div>
                                            <div class="form-group js-form-success text-success mb-20" style="display:none;"></div>
                                            <div class="form-group js-form-error text-danger mb-20" style="display:none;"></div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-heading btn-block hover-up" name="submit">Reset password</button>
                                            </div>
                                        </form>
                                        {% else %}
                                        <p class="text-danger mb-20">{{ token_error|default:"This password reset link is invalid or has expired." }}</p>
                                        <a class="btn btn-heading btn-block hover-up" href="{% url 'accounts:forgot_password' %}">Request a new link</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 pl-50">
                                <h6 class="mb-15">Password must:</h6>
                                <p>Be between 9 and 64 characters</p>
                                <p>Include at least tow of the following:</p>
                                <ol class="list-insider">
                                    <li>An uppercase character</li>
                                    <li>A lowercase character</li>
                                    <li>A number</li>
                                    <li>A special character</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/pages/auth.js' %}"></script>
{% endblock %}
