{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main">
        <div class="page-header mt-30 mb-75">
            <div class="container">
                <div class="archive-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3">
                            <h1 class="mb-15">Blog & News</h1>
                            <div class="breadcrumb">
                                <a href="{% url 'website:home' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                                <span></span> Blog & News
                            </div>
                        </div>
                        <div class="col-xl-9 text-end d-none d-xl-block">
                            <ul class="tags-list">
                                <li class="hover-up">
                                    <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Shopping</a>
                                </li>
                                <li class="hover-up active">
                                    <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Recips</a>
                                </li>
                                <li class="hover-up">
                                    <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Kitchen</a>
                                </li>
                                <li class="hover-up">
                                    <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>News</a>
                                </li>
                                <li class="hover-up mr-0">
                                    <a href="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Food</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter mb-50 pr-30">
                            <div class="totall-product">
                                <h2>
                                    <img class="w-36px mr-10" src="{% static 'imgs/theme/icons/category-1.svg' %}" alt="" />
                                    Kitchen Articles
                                </h2>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="{% url 'blog:category_list' %}#">50</a></li>
                                            <li><a href="{% url 'blog:category_list' %}#">100</a></li>
                                            <li><a href="{% url 'blog:category_list' %}#">150</a></li>
                                            <li><a href="{% url 'blog:category_list' %}#">200</a></li>
                                            <li><a href="{% url 'blog:category_list' %}#">All</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span>Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="{% url 'blog:category_list' %}#">Featured</a></li>
                                            <li><a href="{% url 'blog:category_list' %}#">Newest</a></li>
                                            <li><a href="{% url 'blog:category_list' %}#">Most comments</a></li>
                                            <li><a href="{% url 'blog:category_list' %}#">Release Date</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="loop-grid loop-list pr-30 mb-50">
                            <article class="wow fadeIn animated hover-up mb-30 animated">
                                <div class="post-thumb" style="background-image: url({% static 'imgs/blog/blog-1.png' %})">
                                    <div class="entry-meta">
                                        <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-play-alt"></i></a>
                                    </div>
                                </div>
                                <div class="entry-content-2 pl-50">
                                    <h3 class="post-title mb-20">
                                        <a href="blog-post-right.html">9 Tasty Ideas That Will Inspire You to Grow a Home Herb Garden Today</a>
                                    </h3>
                                    <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">25 April 2024</span>
                                            <span class="hit-count has-dot">126k Views</span>
                                        </div>
                                        <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </article>
                            <article class="wow fadeIn animated hover-up mb-30 animated">
                                <div class="post-thumb" style="background-image: url({% static 'imgs/blog/blog-2.png' %})"></div>
                                <div class="entry-content-2 pl-50">
                                    <h3 class="post-title mb-20">
                                        <a href="blog-post-right.html">The Easy Italian Chicken Dinner I Make Over and Over Again</a>
                                    </h3>
                                    <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">25 April 2024</span>
                                            <span class="hit-count has-dot">126k Views</span>
                                        </div>
                                        <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </article>
                            <article class="wow fadeIn animated hover-up mb-30 animated">
                                <div class="post-thumb" style="background-image: url({% static 'imgs/blog/blog-3.png' %})">
                                    <div class="entry-meta">
                                        <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-picture"></i></a>
                                    </div>
                                </div>
                                <div class="entry-content-2 pl-50">
                                    <h3 class="post-title mb-20">
                                        <a href="blog-post-right.html">I Tried 38 Different Bottles of Mustard — These Are the Ones I’ll Buy Again</a>
                                    </h3>
                                    <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">25 April 2024</span>
                                            <span class="hit-count has-dot">126k Views</span>
                                        </div>
                                        <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </article>
                            <article class="wow fadeIn animated hover-up mb-30 animated">
                                <div class="post-thumb" style="background-image: url({% static 'imgs/blog/blog-4.png' %})">
                                    <div class="entry-meta">
                                        <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-play-alt"></i></a>
                                    </div>
                                </div>
                                <div class="entry-content-2 pl-50">
                                    <h3 class="post-title mb-20">
                                        <a href="blog-post-right.html">How I Prep a Week of Absolutely Simple Summer Meals in Just 1 Hour</a>
                                    </h3>
                                    <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">25 April 2024</span>
                                            <span class="hit-count has-dot">126k Views</span>
                                        </div>
                                        <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </article>
                            <article class="wow fadeIn animated hover-up mb-30 animated">
                                <div class="post-thumb" style="background-image: url({% static 'imgs/blog/blog-5.png' %})">
                                    <div class="entry-meta">
                                        <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-heart"></i></a>
                                    </div>
                                </div>
                                <div class="entry-content-2 pl-50">
                                    <h3 class="post-title mb-20">
                                        <a href="blog-post-right.html">Jenny Rosenstrach Has a Game Plan for the Weekday Vegetarian</a>
                                    </h3>
                                    <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">25 April 2024</span>
                                            <span class="hit-count has-dot">126k Views</span>
                                        </div>
                                        <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </article>
                            <article class="wow fadeIn animated hover-up mb-30 animated">
                                <div class="post-thumb" style="background-image: url({% static 'imgs/blog/blog-6.png' %})"></div>
                                <div class="entry-content-2 pl-50">
                                    <h3 class="post-title mb-20">
                                        <a href="blog-post-right.html">Prime Day Is Here and These Are the Best Kitchen Deals to Shop ASAP</a>
                                    </h3>
                                    <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">25 April 2024</span>
                                            <span class="hit-count has-dot">126k Views</span>
                                        </div>
                                        <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </article>
                            <article class="wow fadeIn animated hover-up mb-30 animated">
                                <div class="post-thumb" style="background-image: url({% static 'imgs/blog/blog-1.png' %})"></div>
                                <div class="entry-content-2 pl-50">
                                    <h3 class="post-title mb-20">
                                        <a href="blog-post-right.html">9 Tasty Ideas That Will Inspire You to Grow a Home Herb Garden Today</a>
                                    </h3>
                                    <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">25 April 2024</span>
                                            <span class="hit-count has-dot">126k Views</span>
                                        </div>
                                        <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </article>
                            <article class="wow fadeIn animated hover-up mb-30 animated">
                                <div class="post-thumb" style="background-image: url({% static 'imgs/blog/blog-7.png' %})">
                                    <div class="entry-meta">
                                        <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-headset"></i></a>
                                    </div>
                                </div>
                                <div class="entry-content-2 pl-50">
                                    <h3 class="post-title mb-20">
                                        <a href="blog-post-right.html">How I Prep a Week of Absolutely Simple Summer Meals in Just 1 Hour</a>
                                    </h3>
                                    <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">25 April 2024</span>
                                            <span class="hit-count has-dot">126k Views</span>
                                        </div>
                                        <a href="blog-post-right.html" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'blog:category_list' %}#"><i class="fi-rs-arrow-small-left"></i></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="{% url 'blog:category_list' %}#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="{% url 'blog:category_list' %}#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="{% url 'blog:category_list' %}#">3</a></li>
                                    <li class="page-item"><a class="page-link dot" href="{% url 'blog:category_list' %}#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="{% url 'blog:category_list' %}#">6</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'blog:category_list' %}#"><i class="fi-rs-arrow-small-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {% include "blog/sidebar.html" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
