{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main">
        <div class="page-header mt-30 mb-75">
            <div class="container">
                <div class="archive-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3">
                            <h1 class="mb-15">Blog & News</h1>
                            <div class="breadcrumb">
                                <a href="{% url 'website:home' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                                <span></span> Blog & News
                            </div>
                        </div>
                        <div class="col-xl-9 text-end d-none d-xl-block">
                            <ul class="tags-list js-header-categories"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter mb-50 pr-30">
                            <div class="totall-product">
                                <h2>
                                    <img class="w-36px mr-10" src="{% static 'imgs/theme/icons/category-1.svg' %}" alt="" />
                                    Kitchen Articles
                                </h2>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span class="js-page-size-label"> 6 <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active js-page-size-option" data-value="6" href="#">6</a></li>
                                            <li><a class="js-page-size-option" data-value="9" href="#">9</a></li>
                                            <li><a class="js-page-size-option" data-value="12" href="#">12</a></li>
                                            <li><a class="js-page-size-option" data-value="24" href="#">24</a></li>
                                            <li><a class="js-page-size-option" data-value="200" href="#">All</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span class="js-sort-label">Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active js-sort-option" data-value="-created_date" href="#">Featured</a></li>
                                            <li><a class="js-sort-option" data-value="-created_date" href="#">Newest</a></li>
                                            <li><a class="js-sort-option" data-value="-created_date" href="#">Most comments</a></li>
                                            <li><a class="js-sort-option" data-value="created_date" href="#">Release Date</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="loop-grid loop-list pr-30 mb-50 js-blog-grid">
                        </div>
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start js-pagination"></ul>
                            </nav>
                        </div>
                    </div>
                    {% include "blog/sidebar.html" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/pages/blog-list.js' %}"></script>
{% endblock %}
